@charset "UTF-8";

body{
  background-color: cyan;
}

header{
  background-color: lightblue;
}

.box{
  background-color: lightblue;
  color: black;
  width: 240px;
  height: 80px;
  margin 5px;
  float: left;
}

aside{
  background-color: lightpink;
  width: 200px;
  float: right;
}

footer{
  background-color: blue;
  clear: both;
}
