@charset "UTF-8";

body{
  background-color: cyan;
}

header{
  background-color: lightblue;
}

#main{
  width: calc(100% - 200px);
  min-width: 500px;
  float: left;
}

#main1{
  background-color: lightblue;
  width: 200px;
  float: left;
}


#main2{
  background-color: lightblue;
  width: 200px;
  float: left;
}

aside{
  background-color: lightpink;
  width: 200px;
  float: right;
}

footer{
  background-color: blue;
  clear: both;
}
